h2 {
    text-align: center;
}
mat-card-content {
    display: grid;
}
.btnComentarios {
    width: min-content;
    justify-self: right;
}
.container-cards {
    display: grid;
    justify-items: center;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    min-height: 220px;
}
.card {
    width: 100%;
}
@media (max-width: 1000px) {
    .container-cards {
        grid-template-columns: 1fr;
    }
}